# Godot 4+ specific ignores
.godot/
/addons/godot-git-plugin
authsignatures.db
addons/godot-sqlite/bin/~libgdsqlite.windows.template_debug.x86_64.dll
authkeys.db
export_presets.cfg
authkeys.db
server.x86_64
server.exe
authkeys.db
libgdsqlite.linux.template_release.x86_64.so
libgdsqlite.windows.template_release.x86_64.dll
server.properties
